/**{*/
/*    font-family:"Raleway sans-serif";*/
/*}*/
.active a {
    color: #65d5f7;
}

.header-contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 12px;
    color: #ffffff;
    font-weight: bold;
}

.header-contact div {
    padding-right: 10px;
}

.header-contact i {
    padding-right: 5px;
}

#background-section {
    display: flex;
    padding: 0;
    margin-bottom: 20px;
    position: relative;
    height: 598px;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 598px !important;
    width: 100%;
    object-fit: fill;
}

.background-text {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: bold;
    color: #25bce9;
    padding-top: 50px;
}

.background-text h4 {
    color: #25bce9;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

.background-text .name {
    font-size: 90px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}


.background-text .mantra {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
}

.background-text .service-brief {
    font-size: 25px;
    padding-top: 20px;
    font-weight: bold;
}

.cap-circle {
    width: 176px;
    height: 176px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.circle-one {
    background-color: #fd5b4e;
    color: #fd5b4e;
    font-size: 30px;
}


.circle-two {
    background-color: #ffa63e;
    color: #ffa63e;
    font-size: 30px;
}


.circle-three {
    background-color: #25bce9;
    color: #25bce9;
    font-size: 30px;
}


.circle-four {
    background-color: green;
    color: green;
    font-size: 30px;
}

.cap-outter-circle {
    width: 156px;
    height: 156px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cap-inner-circle {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .background-text h4 {
        color: #25bce9;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
    }

    .background-text .name {
        font-size: 50px;
        text-align: center;
    }

    .background-text .matra {
        font-size: 25px;
        font-weight: normal;
    }

    .background-text .service-brief {
        font-size: 25px;
        font-weight: bold;
        padding-top: 40px;
        text-align: center;
    }
}

/*BLOG*/

.inner img {
    width: 100%;
}

.inner .info {
    display: flex !important;
    flex-flow: column wrap !important;
    height: 252px;
}


/*quote - Initial*/

.acc-dashboard.wishlist-custom {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


#wishlist form {
    border-bottom: 1px solid #ececec;
    padding: 35px 0 35px 20px;
    width: 95%;
    margin: auto;
}

#wishlist img {
    border: 1px solid #d6d6d6;
    margin: 0 20px 20px 20px;
    vertical-align: top;
    display: flex;
}


#wishlist h4 {
    font-size: 16px;
    color: #444444;
    margin-bottom: 14px;
    margin-top: -3px;
}

#wishlist h4:hover {
    color: #25bce9;
}

#wishlist textarea {
    margin-top: 20px;
    max-width: 100%;
    width: 98%;
}

.wishlist-custom .info, .wishlist-custom .contact-info, .wishlist-custom .project-details {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    max-width: 100%;
    width: 98%;
    justify-content: space-between;
}

.wishlist-custom .info input {
    margin-top: 5px;
}

.wishlist-custom .info div {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

@media (max-width: 768px) {
    .wishlist-custom .info input {
        width: 100%;
    }

    #wishlist img {
        margin: 0 0px 20px 0px;
    }
}


@media (max-width: 375px) {
    .wishlist-custom .addcart {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .wishlist-custom .info input {
        width: 100%;
    }

    #wishlist img {
        margin: 0 0px 20px 0px;
    }
}


#wishlist p {
    color: #777777;
    font-size: 12px;
}

#wishlist textarea, #wishlist input {
    border: 1px solid #ececec;
    padding: 5px;
}


#wishlist button {
    border: 0;
    font-size: 12px;
    color: #444444;
    text-transform: uppercase;
    background: #d0d0d0;
    border-bottom: 2px solid #666666;
    padding: 9px 20px 8px 40px;
    float: right;
    margin-right: 10px;
}

#wishlist button.addcart {
    background: url(../images/icons/ic-addtocart.png) no-repeat 15px 11px #d0d0d0;
}

#wishlist button.addcart:hover {
    background: url(../images/icons/ic-addtocarthover.png) no-repeat 15px 11px #fbc443;
}

.wishlist-custom .submit-quote {
    margin-top: 20px;
}

.wishlist-custom {
    padding: 0;
    margin: 30px 0;
}

/*New quote form*/

.wishlist-custom .quote-info{
    display: flex;
    flex-flow: row wrap;
}


.quote-section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 20px auto;
    padding-bottom: 20px;
    border: thin solid #eee !important;
}

.quote-section h5{
    font-weight: bold;
    color: #fff;
    background-color:#25bce9;
    padding: 10px 0;
}

.quote-section h6{
    font-weight: bold;
    padding: 5px 0;
}

.quote-section div{
    padding: 1px 10px;
}

.quote-section label{
    /*padding-right: 5px;*/
    font-weight: normal;
}

.wishlist-custom form input[type="text"], .wishlist-custom form input[type="number"], .wishlist-custom form input[type="email"], .wishlist-custom form input[type="date"] {
    width: 47.5%;
    margin: 5px auto 0 auto;
}

/*.wishlist-custom select option{*/
/*    border: thin solid #eee !important; */
/*}*/


.project-details-sub,  .finishing-info-sub, .other-information-sub{
    margin-top: 10px;
}

.project-details-sub div, .finishing-info-sub div, .other-information-sub div {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .wishlist-custom form input[type="text"], .wishlist-custom form input[type="number"], .wishlist-custom form input[type="email"] {
        width: 95%;
        margin: 5px auto 0 auto;
    }
}


/*About us*/

.pr-main video {
    width: 100%;
}

#our-clients {
    /*width: 1030px !important;*/
    float: none !important;
}

.our-clients {
    height: 100px;
    overflow: hidden;
    position: relative;
}

/*.our-clients .inner {*/
/*position: absolute;*/
.our-clients {
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 45s linear infinite;
    -webkit-animation: scroll-left 45s linear infinite;
    animation: scroll-left 45s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%); /* Browser bug fix */
        -webkit-transform: translateX(100%); /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%);
    }
}

.our-clients-list {
    display: flex;
    margin-top: 20px;
}

.our-clients-list .list-item {
    padding: 10px;
}

.our-clients-list .list-item img {
    min-width: 165px;
    height: 115px;
}

.home-testimonial .image img {
    border-radius: 79px;
}

@media screen and (max-width: 480px) {
    .background-text h4 {
        color: #25bce9;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .background-text .name {
        font-size: 30px;
        text-align: center;
    }

    .background-text .matra {
        font-size: 15px;
        font-weight: normal;
    }

    .background-text .service-brief {
        font-size: 15px;
        font-weight: bold;
        padding-top: 40px;
        text-align: center;
    }
}

/*social links*/
.social_links {
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 10;
    /*background-color: #25bce9;*/
    background-color: #eeeeee;
}

.social_links li {
    padding: 10px;
}


/*service description*/

.or-service-w .text p, .block-capabititie .decs p {
    margin-top: 3px;
    color: #888;
}


/*ABOUT US*/

#aboutus .container .top p {
    line-height: 2em;
}


#aboutus .container {
    margin-top: 30px;
}

@media (max-width: 425px) {
    #aboutus .top {
        margin-top: 20px;
    }
}

/* Request quote btn*/
#request-quote-btn {
    text-transform: uppercase;
    background: #25bce9;
    color: #fff;
}

#request-quote-btn:hover {
    color: #25bce9;
    background: #fff;
    outline: none;
}


/*tr-icon*/

.tr-icon1 {
    background: cyan;
}

.tr-icon2 {
    background: magenta;
}

.tr-icon3 {
    background: yellow;
}

.tr-icon4 {
    background: black;
}


/*SHOP*/

.our-shop .container {
    display: flex;
    flex-flow: row wrap;
    margin: 30px 0;
}

/*HOW WE MAKE DESIGN EASY*/
.print-txt {
    min-height: 80px;
}

@media (max-width: 768px) {
    .print-txt {
        min-height: 120px;
    }
}


.print-txt a {
    color: #25bce9;
}

.print-txt a:hover {
    color: red;
}


/*validation error*/
.error {
    color: red;
}
