/**{*/
/*    font-family:"Raleway sans-serif";*/
/*}*/
@media(max-width: 425px) {
    .logo img{
        /*width: 60% !important;*/
    }
}

@media(min-width:426px) and (max-width: 768px) {
    .logo img{
        /*width: 40% !important;*/
        width: 60% !important;

    }
}

.active a {
    color: #65d5f7;
}

.header-contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 12px;
    color: #ffffff;
    font-weight: bold;
}

.header-contact div {
    padding-right: 10px;
}

.header-contact i {
    padding-right: 5px;
}

#background-section {
    display: flex;
    padding: 0;
    margin-bottom: 20px;
    position: relative;
    height: 598px;
}


#background-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 598px !important;
    width: 100%;
    object-fit: fill;
}


.background-text {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: bold;
    color: #25bce9;
    padding-top: 50px;
}

.background-text h4 {
    color: #25bce9;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

.background-text .name {
    font-size: 90px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}


.background-text .mantra {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
}

.background-text .service-brief {
    font-size: 25px;
    padding-top: 20px;
    font-weight: bold;
}


@media(max-width: 425px){
    #background-section {
        height: 300px !important;
    }

    #background-video {
        height: 300px !important;
    }

    .background-text {
        height: 300px;
    }

}


.cap-circle {
    width: 176px;
    height: 176px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.circle-one {
    background-color: #fd5b4e;
    color: #fd5b4e;
    font-size: 35px;
    font-weight: bold;
}

.circle-one span {
    color: #fd5b4e;
    font-size: 35px;
    font-weight: bold;
}


.circle-two {
    background-color: #ffa63e;
    color: #ffa63e;
    font-size: 35px;
    font-weight: bold;
}

.circle-two span{
    color: #ffa63e;
    font-size: 35px;
    font-weight: bold;
}


.circle-three {
    background-color: #25bce9;
    color: #25bce9;
    font-size: 35px;
    font-weight: bold;
}

.circle-three span{
    color: #25bce9;
    font-size: 35px;
    font-weight: bold;
}


.circle-four {
    background-color: green;
    color: green;
    font-size: 35px;
    font-weight: bold;
}

.circle-four span{
    color: green;
    font-size: 35px;
    font-weight: bold;
}

.cap-outter-circle {
    width: 156px;
    height: 156px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cap-inner-circle {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .background-text h4 {
        color: #25bce9;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
    }

    .background-text .name {
        font-size: 50px;
        text-align: center;
    }

    .background-text .matra {
        font-size: 25px;
        font-weight: normal;
    }

    .background-text .service-brief {
        font-size: 25px;
        font-weight: bold;
        padding-top: 40px;
        text-align: center;
    }
}

/*BLOG*/

.inner img {
    width: 100%;
}

.inner .info {
    display: flex !important;
    flex-flow: column wrap !important;
    height: 252px;
}


/*quote - Initial*/

.acc-dashboard.wishlist-custom {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


#wishlist form {
    border-bottom: 1px solid #ececec;
    padding: 35px 0 35px 20px;
    width: 95%;
    margin: auto;
}

#wishlist img {
    border: 1px solid #d6d6d6;
    margin: 0 20px 20px 20px;
    vertical-align: top;
    display: flex;
}


#wishlist h4 {
    font-size: 16px;
    color: #444444;
    margin-bottom: 14px;
    margin-top: -3px;
}

#wishlist h4:hover {
    color: #25bce9;
}

#wishlist textarea {
    margin-top: 20px;
    max-width: 100%;
    width: 98%;
}

.wishlist-custom .info, .wishlist-custom .contact-info, .wishlist-custom .project-details {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    max-width: 100%;
    width: 98%;
    justify-content: space-between;
}

.wishlist-custom .info input {
    margin-top: 5px;
}

.wishlist-custom .info div {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

@media (max-width: 768px) {
    .wishlist-custom .info input {
        width: 100%;
    }

    #wishlist img {
        margin: 0 0px 20px 0px;
    }
}


@media (max-width: 375px) {
    .wishlist-custom .addcart {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .wishlist-custom .info input {
        width: 100%;
    }

    #wishlist img {
        margin: 0 0px 20px 0px;
    }
}


#wishlist p {
    color: #777777;
    font-size: 12px;
}

#wishlist textarea, #wishlist input {
    border: 1px solid #ececec;
    padding: 5px;
}


#wishlist button {
    border: 0;
    font-size: 12px;
    color: #444444;
    text-transform: uppercase;
    background: #d0d0d0;
    border-bottom: 2px solid #666666;
    padding: 9px 20px 8px 40px;
    float: right;
    margin-right: 10px;
}

#wishlist button.addcart {
    background: url(../images/icons/ic-addtocart.png) no-repeat 15px 11px #d0d0d0;
}

#wishlist button.addcart:hover {
    background: url(../images/icons/ic-addtocarthover.png) no-repeat 15px 11px #fbc443;
}

.wishlist-custom .submit-quote {
    margin-top: 20px;
}

.wishlist-custom {
    padding: 0;
    margin: 30px 0;
}

/*New quote form*/

.wishlist-custom .quote-info{
    display: flex;
    flex-flow: row wrap;
}


.quote-section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 20px auto;
    padding-bottom: 20px;
    border: thin solid #eee !important;
}

.quote-section h5{
    font-weight: bold;
    color: #fff;
    background-color:#25bce9;
    padding: 10px 10px;
}

.quote-section h6{
    font-weight: bold;
    padding: 5px 0;
}

.quote-section div{
    padding: 1px 10px;
}



.quote-section label{
    padding-right: 10px;
    font-weight: normal;
}

.wishlist-custom form input[type="text"], .wishlist-custom form input[type="number"], .wishlist-custom form input[type="email"],
.wishlist-custom form input[type="date"]{
    width: 47.5%;
    margin: 5px auto 0 auto;
}

.wishlist-custom form textarea{
    width: 95% !important;
    min-height: 80px !important;
}

.project-details-sub textarea{

}
/*.wishlist-custom select option{*/
/*    border: thin solid #eee !important; */
/*}*/


.project-details-sub,  .finishing-info-sub, .other-information-sub{
    margin-top: 10px;
}

.project-details-sub div, .finishing-info-sub div, .other-information-sub div {
    margin-top: 10px;
}

.project-details-select{
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
}

.project-details-select div{
    padding: 0;
}

.cover_type_div{
    margin-left: 10px;
}

.form-check{
    display: flex;
    flex-flow: row wrap;
}


@media (max-width: 768px) {
    .wishlist-custom form input[type="text"], .wishlist-custom form input[type="number"],
    .wishlist-custom form input[type="email"]{
        width: 95%;
        margin: 5px auto 0 auto;
    }

    .cover_type_div{
        margin-left: 0;
        margin-top: 10px;
    }
}


/*About us*/

.pr-main video {
    width: 100%;
}

.home-testimonial .image img {
    border-radius: 79px;
}


/*our-clients*/

.our-clients-logo{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    width: 100%;
}

.our-clients-logo .list-item{
    width: 15%;
    margin: 0 0 30px 0;
    padding: 0 3%;
}

@media(max-width: 425px){
    .our-clients-logo .list-item{
        width: 20%;
    }
}




.our-clients-logo .list-item img{
    width: 100%;
}


@media screen and (max-width: 480px) {

    .background-text h4 {
        color: #25bce9;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .background-text .name {
        font-size: 30px;
        text-align: center;
    }

    .background-text .matra {
        font-size: 15px;
        font-weight: normal;
    }

    .background-text .service-brief {
        font-size: 15px;
        font-weight: bold;
        padding-top: 40px;
        text-align: center;
    }
}

/*social links*/
.social_links {
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 10;
    /*background-color: #25bce9;*/
    background-color: #eeeeee;
}

.social_links li {
    padding: 10px;
}


/*service description*/

.or-service-w .text p, .block-capabititie .decs p {
    margin-top: 3px;
    color: #888;
}


/*ABOUT US*/

#aboutus .container .top p {
    line-height: 2em;
}


#aboutus .container {
    margin-top: 30px;
}

@media (max-width: 425px) {
    #aboutus .top {
        margin-top: 20px;
    }
}

/* Request quote btn*/
#request-quote-btn {
    text-transform: uppercase;
    background: #25bce9;
    color: #fff;
}

#request-quote-btn:hover {
    color: #25bce9;
    background: #fff;
    outline: none;
}


/*tr-icon*/

.tr-icon1 {
    /*background: #01A9E9;*/
    background-color: #01A9E9;
}

.tr-icon2 {
    /*background: #F733BF;*/
    background-color: #F733BF;
}

.tr-icon3 {
    background: yellow;
}

.tr-icon4 {
    background: black;
}


/*SHOP*/

.our-shop .container {
    display: flex;
    flex-flow: row wrap;
    margin: 30px 0;
}

.our-shop .or-block {
    padding: 30px;
}


/*HOW WE MAKE DESIGN EASY*/
.print-txt {
    min-height: 80px;
}

@media (max-width: 768px) {

    .our-shop .or-block {
        padding: 20px;
    }


    .print-txt {
        min-height: 120px;
    }
}


.print-txt a {
    color: #25bce9;
}

.print-txt a:hover {
    color: red;
}


/*validation error*/
.error {
    color: red;
}


#place-order input::placeholder, #contact-form input::placeholder,
#contact-form textarea::placeholder, .wishlist-custom form textarea::placeholder{
    color: #444444;
}


/*Block trust*/
@media(min-width: 769px) {
    .block-trust p {
        height: 20px;
        position: relative;
        transition: height 0.5s;
        -webkit-transition: height 0.5s;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: normal;
        outline: 0 none;
    }

    .block-trust p:hover {
        overflow: visible;
        white-space: normal;
        height: auto;
    }
}

.blog-subscription{
    background-color: #25bce9;
    color: white !important;
}


.blog-subscription .container{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.blog-subscription .block-title-w{
    margin-bottom: 0;
}


.blog-subscription .block-title-w .block-title{
    color: white !important;

}

.blog-subscription .sub-title{
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}


.blog-subscription form div{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;

}


.blog-subscription form input{
    width: 70%;
    border-radius: 0 ;
    border-right: none;
}

.blog-subscription form button{
    width: 30%;
    border-radius: 0;
    color: #25bce9;
}

.blog-subscription form button:hover{
    background-color: #EEEEEE;
}

/*Career*/

.benefits{
    background-color: #EEEEEE;
    border-radius: 5px 50px 50px 5px;
    font-weight: bold;
    font-size: 1.3em;
    height: 100px;
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    /*align-items: center;*/
}

.benefits .icon{
    border-radius: 50%;
    /*background-color: #25bce9;*/
    background-color: #FFFFFF;
    width: 70px;
    display: flex;
    justify-content: center;
}

.benefits .icon img{
    width: 70%;
    height: 70%;
    display: flex;
    align-self: center;
}

.benefits .spacer{
    flex-grow: 1;
}

.benefits-title{
    align-self: center;
}


/*JOBS*/

.job-section-content{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.job-section h1{
    /*border-top: 1px solid #e1e1e1;*/
    /*margin-top: 40px;*/
    /*padding-top: 50px;*/
    font-size: 24px;
    color: #333333;
    padding-bottom: 20px;
}

.job-section h2{
    font-size: 18px;
    color: #333333;
    padding-bottom: 20px;
}

.job{
    display:flex;
    flex-flow: column wrap;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

.job div{
    display: flex;
    flex-flow: row wrap;
    padding: 20px 20px 10px 20px;
}

.job .spacer{
    flex-grow: 1;
}

.job .status{
    color: #28a745;
}

.job-details{
    border-top: 1px solid #e1e1e1;
}


/*login*/

a .re:hover{
    color: #25bce9;
}



/*shop table*/

.info table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.info td, .info th {
    border: 1px solid #dddddd;
    text-align: left !important;
    padding: 8px !important;
}

.info tr:nth-child(even) {
    background-color: #dddddd;
    width:100%;
}

#my-shop-table{
    width: 100%;
    margin-top: 30px;
    border: 1px solid #cecece;
}
#my-shop-table th{
    padding: 5px  0px;
    text-align: center;
    border-bottom: 1px solid #cecece;
    font-weight: bold;
}
#my-shop-table td{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #cecece;
}


/*Gallery*/

.gallery .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery-category{
    padding: 10px;
    /*margin: 5px;*/
    width: 50%;
    position: relative;
}

.gallery-category-pix{
    padding: 10px;
}


@media(max-width: 425px) {
    .gallery-category{
        width: 90%;
    }
}

.gallery-category a{

}

.gallery-category a:hover{
    background-color: #333333;
}

/*.gallery-category div{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*right: 50%;*/
    /*left: 50%;*/
/*}*/

/*LOGIN LINK*/
#pr-login .create-account, #pr-register .login{
    color: #25bce9 !important;
}

#pr-login .create-account:hover, #pr-login .re:hover, #pr-register .login:hover{
    color: #fbc443 !important;
}

.pr-main .quote-section h5{
    padding-left: 10px;
}

.policy h3{
    color: #444444;
    font-weight: bold;
    margin-top:10px;
    margin-bottom:10px;
}

.policy ul{
    margin-left: 15px;
}


/*WELCOME PAGE SHOP */

.explore-more{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn-explore-more{
    border: 1px solid #25bce9;
    border-radius: 3px;
    color: #fff;
    display:inline-block;
    font-weight: 400;
    /*padding: 9px 15px;*/
    padding: 14px 20px;
    text-transform: uppercase;
    /*font-size:12px;*/
    font-size: 15px;
    background-color: #25bce9;
}
.btn-explore-more:hover{
    background:#fff;
    color:#25bce9;
}
